* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    background-color: #f3f3f3;
}

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

/********************************************************HEADER*********************************************************/
.content_header img {
    width: 130px;
    height: 110px;
    margin-top: 0.5rem;
    margin-left: 1.5rem;
}
header {
    font-weight: bold;
    margin-bottom: 10px;
}
header .content_header {
    display: flex;
    justify-content: flex-end;
}
header a {
    display: flex;
    margin-right: auto;

    text-decoration: none;
    color: #000;
    font-size: 30px;
}
/*********************************/
header .home {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
header .bienvenue a {
    text-decoration: none;
    color: #000;
    padding: 10px 320px;
    margin: 0 100px;
    font-size: 20px;
}
header .bienvenue {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
header .home a {
    text-decoration: none;
    color: #000;
    padding: 10px 10px;
    margin: 0 20px;
    font-size: 20px;
}
header .informations a {
    text-decoration: none;
    color: #000;
    padding: 10px 10px;
    margin: 0 10px;
    font-size: 20px;
}
#connexion {
    color: #00a100;
}
#deconnexion {
    color: red;
}
/********************************************************DROPDOWN*********************************************************/
.menudown {
    display: flex;
    overflow: hidden;
}

.menudown .menubtn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    text-decoration: none;
    color: #000;
    padding: 10px 10px;
    margin: 0 50px;
    font-size: 20px;
}
.menudown i {
    padding-left: 0.6rem;
}

.menudown-content {
    margin-top: 5rem;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menudown-content a {
    float: none;
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.menudown:hover .menudown-content {
    display: block;
}
/***************home******************/
header .home,
header .exercices,
header .informations {
    display: flex;
    align-items: center;
    position: relative;
}
header .home a,
header .exercices a,
header .informations a {
    text-decoration: none;
    color: #000;
    padding: 10px 10px;
    margin: 0 20px;
    font-size: 20px;
}
header .home a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 30%;
    left: 0;
    background-color: #00a100;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

header .informations::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #00a100;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

header .home a:hover::after,
header .informations:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/********************************************************MAIN*********************************************************/
.alert {
    color: red;
    padding: 1.5rem;
}

.container {
    width: 600px;
    margin: 100px auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}
/* Form Styles */
form {
    padding: 40px;
}
form h1 {
    margin-top: 0;
    font-weight: normal;
    color: #555555;
    text-align: center;
}
form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid #cccccc;
}
form button[type="submit"] {
    display: block;
    width: 520px;
    padding: 10px;
    background-color: #4caf50;
    color: #ffffff;
    font-size: 17px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
form button[type="submit"]:hover {
    background-color: #3e8e41;
}
form p {
    margin: 15px;
    text-align: center;
    font-size: 14px;
    color: #555555;
}
form p a {
    color: #4caf50;
    text-decoration: none;
}
form p a:hover {
    text-decoration: underline;
}
.input-group-append {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.btn-secondary {
    height: 100%;
    border-radius: 0;
}
.eye-icon {
    border: none;
    background-color: white;
    width: 20px;
    height: 10px;
    font-size: 20px;
    position: absolute;
    top: 15%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
}

/***********************FOOTER***********************/
footer {
    margin-top: 5rem;
    position: absolute;
    left: 0;
    right: 0;
    height: auto;
    background-color: #000;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content img {
    margin-top: 0.5rem;
    width: 150px;
    height: 120px;
}
.footer-content h3 {
    font-size: 1rem;
    margin-top: 2rem;
    font-weight: 400;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    color: white;
    text-decoration: underline;
    text-underline-offset: 5px;
}
.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0 1rem 0;
}
.socials li {
    padding: 0 20px;
    margin: 0 10px;
}
.socials a {
    text-decoration: none;
    color: white;
}
.socials a i {
    font-size: 1.5rem;
    transition: color 0.4s ease;
    padding: 0.8rem 0;
}
.socials li:hover {
    border: 1px solid white;
    border-radius: 20px;
}
footer p {
    color: white;
    font-size: 28px;
    font-weight: bold;
}
